# node.js
node_modules/

# yarn
yarn-error.log

# Share vscode configuration
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# App
release-builds/*
dist/*