<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css">
    <link rel="stylesheet" href="../css/photon.css">
    <link rel="stylesheet" href="../css/app.css">

    <script type="text/javascript" src="../node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="../node_modules/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="../node_modules/angular-animate/angular-animate.js"></script>
    <script type="text/javascript" src="../node_modules/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="../node_modules/angular-messages/angular-messages.js"></script>

    <script src="index.js" charset="utf-8"></script>
    <script src="scripts/menu.js" charset="utf-8"></script>
    <script src="scripts/app/taskController.js" charset="utf-8"></script>
    <script src="scripts/app/config.js" charset="utf-8"></script>

    <script src="http://localhost:35729/livereload.js"></script>
</head>

<body>
    <div class="window" ng-controller="TaskController as taskCtrl">
        <header class="toolbar titlebar toolbar-header">
            <md-content md-theme="docs-dark">
                <div class="toolbar-actions md-toolbar-tools" layout="row">
                    <span flex></span>
                    <md-button flex="25" class="md-icon-button md-primary icon icon-stop icon-text"ng-click="taskCtrl.stopRunningTasks()">&nbsp;&nbsp;Stop</md-button>
                    <md-button flex="30" class="md-icon-button md-primary icon icon-trash icon-text" ng-click="taskCtrl.deleteAllTasks()">&nbsp;&nbsp;Clear</md-button>
                </div>
                <form ng-submit="taskCtrl.addTask()" layout="row" layout-align="center center" class="task-form">
                    <md-input-container flex>
                        <label>Task name</label>
                        <input ng-model="taskCtrl.inputTask">
                    </md-input-container>
                    <md-button flex="30" class="md-icon-button md-primary icon icon-plus icon-text" type="submit" aria-label="Add task">&nbsp;New</md-button>
                </form>
            </md-content>
        </header>

        <div class="window-content">
            <md-list ng-cloak="">
                <div ng-repeat="task in taskCtrl.tasks" class="noright">
                    <md-list-item class="noright" layout="row">
                        <md-avatar flex="20">
                            <md-icon md-svg-icon="{{ task.isRunning ? 'play' : 'pause'}}" class="md-primary md-hue-3 icon-34" ng-click="taskCtrl.toogleTask(task)" aria-label="PlayOrPause"></md-icon>
                        </md-avatar>
                        <div layout="column" flex="100">
                            <div ng-dblclick="taskCtrl.editTask(task)" ng-blur="taskCtrl.onTaskEdittingBlur($event)">
                                <span class="editable item-major" ng-hide="task.editing">{{task.name | limitTo:16}}
                                    <span class="item-major" ng-if="task.name.length > 16">...</span>
                                </span>
                                <form ng-submit="taskCtrl.doneEdittingTask(task)" ng-show="task.editing">
                                    <input class="editable item-major" ng-model="task.name" ng-click="taskCtrl.onTextSelection($event)">
                                </form>
                            </div>
                            <span class="item-minor">{{ taskCtrl.getSpentHour(task) }}h&nbsp;{{ taskCtrl.getSpentMinute(task) }}m<md-tooltip md-delay="300">Copy</md-tooltip></span>
                        </div>
                        <md-icon md-svg-icon="delete" class="md-primary md-hue-3 icon-28" ng-click="taskCtrl.deleteTask(task)" aria-label="Delete" flex="10">
                            <md-tooltip md-delay="300">Remove</md-tooltip>
                        </md-icon>
                    </md-list-item>
                    <md-divider></md-divider>
                </div>
            </md-list>
        </div>

        <footer class="toolbar toolbar-footer">
            <md-content md-theme="docs-dark">
                <div class="md-toolbar-tools" layout="row">
                    <span flex></span>
                    <md-label>Time spent: {{ taskCtrl.getTotalSpentHour() }}h&nbsp;{{ taskCtrl.getTotalSpentMinute() }}m</md-label>
                </div>
            </md-content>
        </footer>
    </div>
</body>

<script>
    require('./renderer.js')

</script>

</html>
